src/services/verisk/xsd/TU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TU">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRANS-CTRL" minOccurs="0"/>
				<xs:element ref="PROD-HEAD" minOccurs="0"/>
				<xs:element ref="REPORTS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ENDS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANS-CTRL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SEG_TYPE" minOccurs="0"/>
				<xs:element ref="SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="VER_SWITCH" minOccurs="0"/>
				<xs:element ref="CTRY_CODE" minOccurs="0"/>
				<xs:element ref="LAN_IND" minOccurs="0"/>
				<xs:element ref="USR_REF_NUM" minOccurs="0"/>
				<xs:element ref="BRU_MKT" minOccurs="0"/>
				<xs:element ref="BRU_SUB_MKT" minOccurs="0"/>
				<xs:element ref="IND_CODE" minOccurs="0"/>
				<xs:element ref="MEM_CODE" minOccurs="0"/>
				<xs:element ref="TRANS_DATE" minOccurs="0"/>
				<xs:element ref="TRANS_TIME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRADE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TR_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="TR_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="TR_IND_CODE" minOccurs="0"/>
				<xs:element ref="TR_MEM_CODE" minOccurs="0"/>
				<xs:element ref="TR_SUB_NAME" minOccurs="0"/>
				<xs:element ref="TR_ACT_TYPE" minOccurs="0"/>
				<xs:element ref="TR_ACT_NUM" minOccurs="0"/>
				<xs:element ref="TR_ACT_DSG" minOccurs="0"/>
				<xs:element ref="TR_DT_OPEN" minOccurs="0"/>
				<xs:element ref="TR_DT_VERF" minOccurs="0"/>
				<xs:element ref="TR_VERF_IND" minOccurs="0"/>
				<xs:element ref="TR_DT_CLOSE" minOccurs="0"/>
				<xs:element ref="TR_DT_IND" minOccurs="0"/>
				<xs:element ref="TR_DT_PAID" minOccurs="0"/>
				<xs:element ref="TR_DT_LST" minOccurs="0"/>
				<xs:element ref="TR_MNR_PMT" minOccurs="0"/>
				<xs:element ref="TR_CURRENCY" minOccurs="0"/>
				<xs:element ref="TR_BALANCE" minOccurs="0"/>
				<xs:element ref="TR_HIGH_CRD" minOccurs="0"/>
				<xs:element ref="TR_CRD_LIMIT" minOccurs="0"/>
				<xs:element ref="TR_TERMS" minOccurs="0"/>
				<xs:element ref="TR_FREQ" minOccurs="0"/>
				<xs:element ref="TR_PMNT" minOccurs="0"/>
				<xs:element ref="TR_COLL" minOccurs="0"/>
				<xs:element ref="TR_LOAN_TYPE" minOccurs="0"/>
				<xs:element ref="TR_RMKS_CODE" minOccurs="0"/>
				<xs:element ref="TR_AMT_DUE" minOccurs="0"/>
				<xs:element ref="TR_NUM_PMNT" minOccurs="0"/>
				<xs:element ref="TR_MXM_DEL" minOccurs="0"/>
				<xs:element ref="TR_DEL_DT" minOccurs="0"/>
				<xs:element ref="TR_DEL_MOP" minOccurs="0"/>
				<xs:element ref="TR_START_DT" minOccurs="0"/>
				<xs:element ref="TR_PMNT_PAT" minOccurs="0"/>
				<xs:element ref="TR_NUM_MNTH" minOccurs="0"/>
				<xs:element ref="TR_30_LATE" minOccurs="0"/>
				<xs:element ref="TR_60_LATE" minOccurs="0"/>
				<xs:element ref="TR_90_LATE" minOccurs="0"/>
				<xs:element ref="TR_HIST_CNT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SUBJECT-HEAD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SH_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="SH_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="SUB_IDENT" minOccurs="0"/>
				<xs:element ref="FILE_NUM" minOccurs="0"/>
				<xs:element ref="FILE_HIT" minOccurs="0"/>
				<xs:element ref="SSN_MATCH_IND" minOccurs="0"/>
				<xs:element ref="CONSU_SMT_IND" minOccurs="0"/>
				<xs:element ref="BRU_MKT_FCTL" minOccurs="0"/>
				<xs:element ref="BRU_SUBMKT_FCTL" minOccurs="0"/>
				<xs:element ref="SPRN_IND" minOccurs="0"/>
				<xs:element ref="INFSIN_DATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="REPORTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SUBJECT-HEAD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NU01" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ENDUSER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HEAD-NAME" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HEAD-PERSONAL" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HEAD-ALERT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AM01" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HEAD-ADDR" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HEAD-PHONE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HEAD-EMP" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HEAD-EMP-ADDR" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CREDIT-SUM" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CREDIT-SUM-DESC" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PUBREC" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="COLLECTION" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="COMPLIANCE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TRADE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CONS-STATEMENT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="INQUIRY" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HAWK" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HAWK-INQUIRY" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HAWK-MSG-CODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HAWK-DECEASED" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HAWK-YEAR-OF-ISSUE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HAWK-MSG-TXT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SCORE" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROD-HEAD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PH_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="PH_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="PH_PROD_CODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONS-STATEMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CS_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="CS_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="CS_CONT_TYPE" minOccurs="0"/>
				<xs:element ref="INFO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COLLECTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CL_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="CL_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="CL_IND_CODE" minOccurs="0"/>
				<xs:element ref="CL_MEM_CODE" minOccurs="0"/>
				<xs:element ref="CL_AG_NAME" minOccurs="0"/>
				<xs:element ref="CL_ACT_TYPE" minOccurs="0"/>
				<xs:element ref="CL_ACT_NUM" minOccurs="0"/>
				<xs:element ref="CL_ACT_DSG" minOccurs="0"/>
				<xs:element ref="CL_CR_NAME" minOccurs="0"/>
				<xs:element ref="CL_DTE_OPEN" minOccurs="0"/>
				<xs:element ref="CL_DTE_VERF" minOccurs="0"/>
				<xs:element ref="CL_VERIFY_IND" minOccurs="0"/>
				<xs:element ref="CL_DTE_CLOSED" minOccurs="0"/>
				<xs:element ref="CL_DTE_CLOSED_IND" minOccurs="0"/>
				<xs:element ref="CL_DTE_PAID_OUT" minOccurs="0"/>
				<xs:element ref="CL_CURR_MAN_PAYMENT" minOccurs="0"/>
				<xs:element ref="CL_CURR_BALANCE" minOccurs="0"/>
				<xs:element ref="CL_ORG_BALANCE" minOccurs="0"/>
				<xs:element ref="CL_REMARKS_CODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="INQUIRY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IN_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="IN_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="IN_BRU_MKT" minOccurs="0"/>
				<xs:element ref="IN_BRU_SUBMKT" minOccurs="0"/>
				<xs:element ref="IN_IND_CODE" minOccurs="0"/>
				<xs:element ref="IN_MEM_CODE" minOccurs="0"/>
				<xs:element ref="IN_SUB_NAME" minOccurs="0"/>
				<xs:element ref="IN_INQ_TYPE" minOccurs="0"/>
				<xs:element ref="IN_LOAN_TYPE" minOccurs="0"/>
				<xs:element ref="IN_LOAN_AMT" minOccurs="0"/>
				<xs:element ref="IN_DT_INQ" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEAD-PHONE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HP_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HP_PHONE_TYPE" minOccurs="0"/>
				<xs:element ref="HP_AREA_CODE" minOccurs="0"/>
				<xs:element ref="HP_TEL_NUM" minOccurs="0"/>
				<xs:element ref="HP_EXTENSION" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEAD-PERSONAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PE_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="PE_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="PE_SRC_IND" minOccurs="0"/>
				<xs:element ref="SSN" minOccurs="0"/>
				<xs:element ref="DOB" minOccurs="0"/>
				<xs:element ref="AGE" minOccurs="0"/>
				<xs:element ref="GENDER" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEAD-NAME">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HN_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HN_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="SRC_IND" minOccurs="0"/>
				<xs:element ref="NAME_IND" minOccurs="0"/>
				<xs:element ref="LAST_NAME" minOccurs="0"/>
				<xs:element ref="FIRST_NAME" minOccurs="0"/>
				<xs:element ref="MDL_NAME" minOccurs="0"/>
				<xs:element ref="PREFIX" minOccurs="0"/>
				<xs:element ref="SUFFIX" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEAD-EMP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HE_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HE_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="EMP_NAME" minOccurs="0"/>
				<xs:element ref="HE_SRC_IND" minOccurs="0"/>
				<xs:element ref="OCCUPATION" minOccurs="0"/>
				<xs:element ref="DATE_HIRED" minOccurs="0"/>
				<xs:element ref="DATE_SEPRT" minOccurs="0"/>
				<xs:element ref="DATE_VER_RPT" minOccurs="0"/>
				<xs:element ref="DATE_VR_CODE" minOccurs="0"/>
				<xs:element ref="INCOME" minOccurs="0"/>
				<xs:element ref="PAY_BASIS" minOccurs="0"/>
				<xs:element ref="HEAD-EMP-ADDR" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEAD-EMP-ADDR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EAD_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="EAD_PARS_IND" minOccurs="0"/>
				<xs:element ref="EAD_UP_STREET_ADDR" minOccurs="0"/>
				<xs:element ref="EAD_HOU_NUM" minOccurs="0"/>
				<xs:element ref="EAD_PRE_DIR" minOccurs="0"/>
				<xs:element ref="EAD_STR_NAME" minOccurs="0"/>
				<xs:element ref="EAD_POST_DIR" minOccurs="0"/>
				<xs:element ref="EAD_STR_TYPE" minOccurs="0"/>
				<xs:element ref="EAD_APT_NUM" minOccurs="0"/>
				<xs:element ref="EAD_CITY_NAME" minOccurs="0"/>
				<xs:element ref="EAD_CITY" minOccurs="0"/>
				<xs:element ref="EAD_STATE" minOccurs="0"/>
				<xs:element ref="EAD_ZIP_CODE" minOccurs="0"/>
				<xs:element ref="EAD_LEN_OF_RES" minOccurs="0"/>
				<xs:element ref="EAD_RES_STATUS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEAD-ALERT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HA_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HA_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="ADDR_TYPE" minOccurs="0"/>
				<xs:element ref="MSG_TYPE" minOccurs="0"/>
				<xs:element ref="ALERT_CDN" minOccurs="0"/>
				<xs:element ref="NO_ENQ_IN60DYS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEAD-ADDR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AD_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="PARS_IND" minOccurs="0"/>
				<xs:element ref="UP_STREET_ADDR" minOccurs="0"/>
				<xs:element ref="HOU_NUM" minOccurs="0"/>
				<xs:element ref="PRE_DIR" minOccurs="0"/>
				<xs:element ref="STR_NAME" minOccurs="0"/>
				<xs:element ref="POST_DIR" minOccurs="0"/>
				<xs:element ref="STR_TYPE" minOccurs="0"/>
				<xs:element ref="APT_NUM" minOccurs="0"/>
				<xs:element ref="CITY_NAME" minOccurs="0"/>
				<xs:element ref="STATE" minOccurs="0"/>
				<xs:element ref="ZIP_CODE" minOccurs="0"/>
				<xs:element ref="DATE_RPTD" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAWK-YEAR-OF-ISSUE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HY_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HY_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="ID_QUAL" minOccurs="0"/>
				<xs:element ref="HY_MSG_CODE" minOccurs="0"/>
				<xs:element ref="HY_SRC_IND" minOccurs="0"/>
				<xs:element ref="NO_YRS_COV" minOccurs="0"/>
				<xs:element ref="RANGE_YRS_FROM" minOccurs="0"/>
				<xs:element ref="RANGE_YRS_TO" minOccurs="0"/>
				<xs:element ref="HY_STATE" minOccurs="0"/>
				<xs:element ref="SIGN_AGE_OBTFROM" minOccurs="0"/>
				<xs:element ref="AGE_OBTFROM" minOccurs="0"/>
				<xs:element ref="SIGN_AGE_OBTTO" minOccurs="0"/>
				<xs:element ref="AGE_OBTTO" minOccurs="0"/>
				<xs:element ref="ISS_YEAR_STA" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAWK-MSG-TXT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MS_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="MS_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="MS_MSG_CODE" minOccurs="0"/>
				<xs:element ref="ACT_MS_LEN" minOccurs="0"/>
				<xs:element ref="CUR_SE_NUM" minOccurs="0"/>
				<xs:element ref="TOT_SE_NUM" minOccurs="0"/>
				<xs:element ref="THRES_NUM" minOccurs="0"/>
				<xs:element ref="MS_MSG_TEXT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAWK">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HW_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HW_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="HW_PROD_CODE" minOccurs="0"/>
				<xs:element ref="HW_PROD_STATUS" minOccurs="0"/>
				<xs:element ref="HW_SEARCH_STATUS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAWK-INQUIRY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HI_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HI_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="HI_MSG_CODE" minOccurs="0"/>
				<xs:element ref="HI_ADDR_MATCH_FLAG" minOccurs="0"/>
				<xs:element ref="HI_NO_TIMES_INPUT_USED" minOccurs="0"/>
				<xs:element ref="HI_THRESH_CHOSEN" minOccurs="0"/>
				<xs:element ref="HI_TIME_FRM_OCCUR" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAWK-MSG-CODE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HM_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HM_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="HM_MSG_CODE" minOccurs="0"/>
				<xs:element ref="HM_SRC_IND" minOccurs="0"/>
				<xs:element ref="HM_ADDR_MATCH_FLAG" minOccurs="0"/>
				<xs:element ref="HM_POB_TEL_IND" minOccurs="0"/>
				<xs:element ref="HM_POB_TEL_NUM" minOccurs="0"/>
				<xs:element ref="HM_THRESH_NUM" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAWK-DECEASED">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HD_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="HD_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="HD_MSG_CODE" minOccurs="0"/>
				<xs:element ref="HD_SRC_IND" minOccurs="0"/>
				<xs:element ref="HD_LAST_NAME" minOccurs="0"/>
				<xs:element ref="HD_FIRST_NAME" minOccurs="0"/>
				<xs:element ref="CITY_LST_RES" minOccurs="0"/>
				<xs:element ref="STA_LST_RES" minOccurs="0"/>
				<xs:element ref="ZIP_LST_RES" minOccurs="0"/>
				<xs:element ref="CITY_LOC_PAY" minOccurs="0"/>
				<xs:element ref="STA_LOC_PAY" minOccurs="0"/>
				<xs:element ref="ZIP_LOC_PAY" minOccurs="0"/>
				<xs:element ref="DOB_DEC" minOccurs="0"/>
				<xs:element ref="DATE_DEATH" minOccurs="0"/>
				<xs:element ref="DEC_INFO_FILE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ENDS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EN_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="EN_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="EN_TOT_NO_SEG" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CREDIT-SUM-DESC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CD_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="CD_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="SUMM_TYPE" minOccurs="0"/>
				<xs:element ref="HIGH_CREDIT" minOccurs="0"/>
				<xs:element ref="CREDIT_LIMIT" minOccurs="0"/>
				<xs:element ref="BALANCE" minOccurs="0"/>
				<xs:element ref="AMT_PAST_DUE" minOccurs="0"/>
				<xs:element ref="MON_PAYMENT" minOccurs="0"/>
				<xs:element ref="PERC_OF_CR_AVAIL" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PUBREC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PR_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="PR_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="PR_IND_CODE" minOccurs="0"/>
				<xs:element ref="PR_MEM_CODE" minOccurs="0"/>
				<xs:element ref="PR_TYPE" minOccurs="0"/>
				<xs:element ref="PR_DOC_NUM" minOccurs="0"/>
				<xs:element ref="PR_ATTORNEY" minOccurs="0"/>
				<xs:element ref="PR_PLAINTIFF" minOccurs="0"/>
				<xs:element ref="PR_DT_RPT" minOccurs="0"/>
				<xs:element ref="PR_DT_PAID" minOccurs="0"/>
				<xs:element ref="PR_ASSETS" minOccurs="0"/>
				<xs:element ref="PR_LIAB_AMT" minOccurs="0"/>
				<xs:element ref="PR_ACCT_DSG" minOccurs="0"/>
				<xs:element ref="PR_CRT_TYPE" minOccurs="0"/>
				<xs:element ref="PR_CRT_CITY" minOccurs="0"/>
				<xs:element ref="PR_CRT_STATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPLIANCE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CO_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="CO_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="INFO_TYPE" minOccurs="0"/>
				<xs:element ref="SUBS_NAME" minOccurs="0"/>
				<xs:element ref="ACC_NUM" minOccurs="0"/>
				<xs:element ref="REM_TYPE_CODE" minOccurs="0"/>
				<xs:element ref="WORDING_OF_REM" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CREDIT-SUM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CR_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="CR_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="CR_SUMMARY_RPPRD" minOccurs="0"/>
				<xs:element ref="NO_PUB_REC" minOccurs="0"/>
				<xs:element ref="NO_COLL" minOccurs="0"/>
				<xs:element ref="NO_NEG_TRADES" minOccurs="0"/>
				<xs:element ref="TRA_HIST_NEG" minOccurs="0"/>
				<xs:element ref="OCR_HIST_NEG" minOccurs="0"/>
				<xs:element ref="NO_TRADES" minOccurs="0"/>
				<xs:element ref="NO_REV_CHECK_CRTRADES" minOccurs="0"/>
				<xs:element ref="NO_INST_TRADES" minOccurs="0"/>
				<xs:element ref="NO_MRTG_TRADES" minOccurs="0"/>
				<xs:element ref="NO_OPEN_TRD_ACC" minOccurs="0"/>
				<xs:element ref="NO_INQUIRES" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AM01">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SEG_TYPE" minOccurs="0"/>
				<xs:element ref="SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="AM_IN_ADDR_INDEX" minOccurs="0"/>
				<xs:element ref="AM_IN_FILE_ADDR_INDEX" minOccurs="0"/>
				<xs:element ref="AM_HOUSE_NUMBER_MATCH" minOccurs="0"/>
				<xs:element ref="AM_PRE_DIR_MATCH" minOccurs="0"/>
				<xs:element ref="AM_STREET_NAME_MATCH" minOccurs="0"/>
				<xs:element ref="AM_STREET_TYPE_MATCH" minOccurs="0"/>
				<xs:element ref="AM_FILLER1" minOccurs="0"/>
				<xs:element ref="AM_CITY_NAME_MATCH" minOccurs="0"/>
				<xs:element ref="AM_STATE_MATCH" minOccurs="0"/>
				<xs:element ref="AM_ZIP_CODE_MATCH" minOccurs="0"/>
				<xs:element ref="AM_FILLER2" minOccurs="0"/>
				<xs:element ref="AM_FILLER3" minOccurs="0"/>
				<xs:element ref="AM_APT_NUMBER_MATCH" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="NU01">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SEG_TYPE" minOccurs="0"/>
				<xs:element ref="SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="NUM_TYPE" minOccurs="0"/>
				<xs:element ref="NUM_LENGTH" minOccurs="0"/>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ENDUSER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ED_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="ED_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="ED_SUB_CODE" minOccurs="0"/>
				<xs:element ref="ED_ORI_VAL" minOccurs="0"/>
				<xs:element ref="ED_CD_NUM" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="SCORE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SC_SEG_TYPE" minOccurs="0"/>
				<xs:element ref="SC_SEG_LENGTH" minOccurs="0"/>
				<xs:element ref="SC_PROD_CODE" minOccurs="0"/>
				<xs:element ref="SIGN" minOccurs="0"/>
				<xs:element ref="SC_SCORE" minOccurs="0"/>
				<xs:element ref="SCR_IND_FLAG" minOccurs="0"/>
				<xs:element ref="SC_DE_AT_FLAG" minOccurs="0"/>
				<xs:element ref="FIRST_FAC" minOccurs="0"/>
				<xs:element ref="SEC_FAC" minOccurs="0"/>
				<xs:element ref="THIRD_FAC" minOccurs="0"/>
				<xs:element ref="FOUR_FAC" minOccurs="0"/>
				<xs:element ref="SCORE_CARD_IND" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ALERT_CDN" type="xs:string"/>
	<xs:element name="AGE_OBTTO" type="xs:string"/>
	<xs:element name="AGE_OBTFROM" type="xs:string"/>
	<xs:element name="AGE" type="xs:string"/>
	<xs:element name="AD_SEG_TYPE" type="xs:string"/>
	<xs:element name="ADDR_TYPE" type="xs:string"/>
	<xs:element name="ACT_MS_LEN" type="xs:string"/>
	<xs:element name="CONSU_SMT_IND" type="xs:string"/>
	<xs:element name="CITY_NAME" type="xs:string"/>
	<xs:element name="CD_SEG_TYPE" type="xs:string"/>
	<xs:element name="CD_SEG_LENGTH" type="xs:string"/>
	<xs:element name="BRU_SUBMKT_FCTL" type="xs:string"/>
	<xs:element name="BRU_MKT_FCTL" type="xs:string"/>
	<xs:element name="BRU_MKT" type="xs:string"/>
	<xs:element name="BALANCE" type="xs:string"/>
	<xs:element name="APT_NUM" type="xs:string"/>
	<xs:element name="AM_ZIP_CODE_MATCH" type="xs:string"/>
	<xs:element name="AM_STREET_TYPE_MATCH" type="xs:string"/>
	<xs:element name="AM_STREET_NAME_MATCH" type="xs:string"/>
	<xs:element name="AM_STATE_MATCH" type="xs:string"/>
	<xs:element name="AM_PRE_DIR_MATCH" type="xs:string"/>
	<xs:element name="AM_IN_FILE_ADDR_INDEX" type="xs:string"/>
	<xs:element name="AM_IN_ADDR_INDEX" type="xs:string"/>
	<xs:element name="AM_HOUSE_NUMBER_MATCH" type="xs:string"/>
	<xs:element name="AM_FILLER3" type="xs:string"/>
	<xs:element name="AM_FILLER2" type="xs:string"/>
	<xs:element name="AM_FILLER1" type="xs:string"/>
	<xs:element name="AM_CITY_NAME_MATCH" type="xs:string"/>
	<xs:element name="AM_APT_NUMBER_MATCH" type="xs:string"/>
	<xs:element name="AMT_PAST_DUE" type="xs:string"/>
	<xs:element name="ZIP_CODE" type="xs:string"/>
	<xs:element name="VER_SWITCH" type="xs:string"/>
	<xs:element name="USR_REF_NUM" type="xs:string"/>
	<xs:element name="UP_STREET_ADDR" type="xs:string"/>
	<xs:element name="TR_VERF_IND" type="xs:string"/>
	<xs:element name="TR_TERMS" type="xs:string"/>
	<xs:element name="TR_SUB_NAME" type="xs:string"/>
	<xs:element name="TR_START_DT" type="xs:string"/>
	<xs:element name="TR_SEG_TYPE" type="xs:string"/>
	<xs:element name="TR_SEG_LENGTH" type="xs:string"/>
	<xs:element name="TR_RMKS_CODE" type="xs:string"/>
	<xs:element name="TR_PMNT_PAT" type="xs:string"/>
	<xs:element name="TR_PMNT" type="xs:string"/>
	<xs:element name="TR_NUM_PMNT" type="xs:string"/>
	<xs:element name="TR_NUM_MNTH" type="xs:string"/>
	<xs:element name="TR_MXM_DEL" type="xs:string"/>
	<xs:element name="TR_MNR_PMT" type="xs:string"/>
	<xs:element name="TR_MEM_CODE" type="xs:string"/>
	<xs:element name="TR_LOAN_TYPE" type="xs:string"/>
	<xs:element name="TR_IND_CODE" type="xs:string"/>
	<xs:element name="TR_HIST_CNT" type="xs:string"/>
	<xs:element name="TR_HIGH_CRD" type="xs:string"/>
	<xs:element name="TR_FREQ" type="xs:string"/>
	<xs:element name="TR_DT_VERF" type="xs:string"/>
	<xs:element name="TR_DT_PAID" type="xs:string"/>
	<xs:element name="TR_DT_OPEN" type="xs:string"/>
	<xs:element name="TR_DT_LST" type="xs:string"/>
	<xs:element name="TR_DT_IND" type="xs:string"/>
	<xs:element name="TR_DT_CLOSE" type="xs:string"/>
	<xs:element name="TR_DEL_MOP" type="xs:string"/>
	<xs:element name="TR_DEL_DT" type="xs:string"/>
	<xs:element name="TR_CURRENCY" type="xs:string"/>
	<xs:element name="TR_CRD_LIMIT" type="xs:string"/>
	<xs:element name="TR_COLL" type="xs:string"/>
	<xs:element name="TR_BALANCE" type="xs:string"/>
	<xs:element name="TR_AMT_DUE" type="xs:string"/>
	<xs:element name="TR_ACT_TYPE" type="xs:string"/>
	<xs:element name="TR_ACT_NUM" type="xs:string"/>
	<xs:element name="TR_ACT_DSG" type="xs:string"/>
	<xs:element name="TR_90_LATE" type="xs:string"/>
	<xs:element name="TR_60_LATE" type="xs:string"/>
	<xs:element name="TR_30_LATE" type="xs:string"/>
	<xs:element name="TRA_HIST_NEG" type="xs:string"/>
	<xs:element name="TRANS_TIME" type="xs:string"/>
	<xs:element name="TRANS_DATE" type="xs:string"/>
	<xs:element name="TOT_SE_NUM" type="xs:string"/>
	<xs:element name="THRES_NUM" type="xs:string"/>
	<xs:element name="SUMM_TYPE" type="xs:string"/>
	<xs:element name="SUFFIX" type="xs:string"/>
	<xs:element name="SUB_IDENT" type="xs:string"/>
	<xs:element name="BRU_SUB_MKT" type="xs:string"/>
	<xs:element name="RANGE_YRS_TO" type="xs:string"/>
	<xs:element name="RANGE_YRS_FROM" type="xs:string"/>
	<xs:element name="PRE_DIR" type="xs:string"/>
	<xs:element name="PREFIX" type="xs:string"/>
	<xs:element name="POST_DIR" type="xs:string"/>
	<xs:element name="PH_SEG_TYPE" type="xs:string"/>
	<xs:element name="PH_SEG_LENGTH" type="xs:string"/>
	<xs:element name="PH_PROD_CODE" type="xs:string"/>
	<xs:element name="PE_SRC_IND" type="xs:string"/>
	<xs:element name="PE_SEG_TYPE" type="xs:string"/>
	<xs:element name="PE_SEG_LENGTH" type="xs:string"/>
	<xs:element name="PERC_OF_CR_AVAIL" type="xs:string"/>
	<xs:element name="PAY_BASIS" type="xs:string"/>
	<xs:element name="PARS_IND" type="xs:string"/>
	<xs:element name="OCR_HIST_NEG" type="xs:string"/>
	<xs:element name="OCCUPATION" type="xs:string"/>
	<xs:element name="NO_YRS_COV" type="xs:string"/>
	<xs:element name="NO_TRADES" type="xs:string"/>
	<xs:element name="NO_REV_CHECK_CRTRADES" type="xs:string"/>
	<xs:element name="NO_PUB_REC" type="xs:string"/>
	<xs:element name="NO_OPEN_TRD_ACC" type="xs:string"/>
	<xs:element name="NO_NEG_TRADES" type="xs:string"/>
	<xs:element name="NO_MRTG_TRADES" type="xs:string"/>
	<xs:element name="NO_INST_TRADES" type="xs:string"/>
	<xs:element name="NO_INQUIRES" type="xs:string"/>
	<xs:element name="NO_ENQ_IN60DYS" type="xs:string"/>
	<xs:element name="NO_COLL" type="xs:string"/>
	<xs:element name="NAME_IND" type="xs:string"/>
	<xs:element name="MS_SEG_TYPE" type="xs:string"/>
	<xs:element name="MS_SEG_LENGTH" type="xs:string"/>
	<xs:element name="MS_MSG_TEXT" type="xs:string"/>
	<xs:element name="MS_MSG_CODE" type="xs:string"/>
	<xs:element name="MSG_TYPE" type="xs:string"/>
	<xs:element name="MON_PAYMENT" type="xs:string"/>
	<xs:element name="MEM_CODE" type="xs:string"/>
	<xs:element name="MDL_NAME" type="xs:string"/>
	<xs:element name="LAST_NAME" type="xs:string"/>
	<xs:element name="LAN_IND" type="xs:string"/>
	<xs:element name="ISS_YEAR_STA" type="xs:string"/>
	<xs:element name="IN_SUB_NAME" type="xs:string"/>
	<xs:element name="IN_SEG_TYPE" type="xs:string"/>
	<xs:element name="IN_SEG_LENGTH" type="xs:string"/>
	<xs:element name="IN_MEM_CODE" type="xs:string"/>
	<xs:element name="IN_LOAN_TYPE" type="xs:string"/>
	<xs:element name="IN_LOAN_AMT" type="xs:string"/>
	<xs:element name="IN_INQ_TYPE" type="xs:string"/>
	<xs:element name="IN_IND_CODE" type="xs:string"/>
	<xs:element name="IN_DT_INQ" type="xs:string"/>
	<xs:element name="IN_BRU_SUBMKT" type="xs:string"/>
	<xs:element name="IN_BRU_MKT" type="xs:string"/>
	<xs:element name="INFSIN_DATE" type="xs:string"/>
	<xs:element name="IND_CODE" type="xs:string"/>
	<xs:element name="INCOME" type="xs:string"/>
	<xs:element name="ID_QUAL" type="xs:string"/>
	<xs:element name="HY_STATE" type="xs:string"/>
	<xs:element name="HY_SRC_IND" type="xs:string"/>
	<xs:element name="HY_SEG_TYPE" type="xs:string"/>
	<xs:element name="HY_SEG_LENGTH" type="xs:string"/>
	<xs:element name="HY_MSG_CODE" type="xs:string"/>
	<xs:element name="HW_SEG_TYPE" type="xs:string"/>
	<xs:element name="HW_SEG_LENGTH" type="xs:string"/>
	<xs:element name="HW_SEARCH_STATUS" type="xs:string"/>
	<xs:element name="HW_PROD_STATUS" type="xs:string"/>
	<xs:element name="HW_PROD_CODE" type="xs:string"/>
	<xs:element name="HP_TEL_NUM" type="xs:string"/>
	<xs:element name="HP_SEG_TYPE" type="xs:string"/>
	<xs:element name="HP_PHONE_TYPE" type="xs:string"/>
	<xs:element name="HP_EXTENSION" type="xs:string"/>
	<xs:element name="HP_AREA_CODE" type="xs:string"/>
	<xs:element name="HOU_NUM" type="xs:string"/>
	<xs:element name="HN_SEG_TYPE" type="xs:string"/>
	<xs:element name="HN_SEG_LENGTH" type="xs:string"/>
	<xs:element name="HIGH_CREDIT" type="xs:string"/>
	<xs:element name="HE_SRC_IND" type="xs:string"/>
	<xs:element name="HE_SEG_TYPE" type="xs:string"/>
	<xs:element name="HE_SEG_LENGTH" type="xs:string"/>
	<xs:element name="HA_SEG_TYPE" type="xs:string"/>
	<xs:element name="HA_SEG_LENGTH" type="xs:string"/>
	<xs:element name="STR_TYPE" type="xs:string"/>
	<xs:element name="STR_NAME" type="xs:string"/>
	<xs:element name="STATE" type="xs:string"/>
	<xs:element name="SSN_MATCH_IND" type="xs:string"/>
	<xs:element name="SSN" type="xs:string"/>
	<xs:element name="SRC_IND" type="xs:string"/>
	<xs:element name="SPRN_IND" type="xs:string"/>
	<xs:element name="SIGN_AGE_OBTTO" type="xs:string"/>
	<xs:element name="SIGN_AGE_OBTFROM" type="xs:string"/>
	<xs:element name="SH_SEG_TYPE" type="xs:string"/>
	<xs:element name="SH_SEG_LENGTH" type="xs:string"/>
	<xs:element name="SEG_TYPE" type="xs:string"/>
	<xs:element name="SEG_LENGTH" type="xs:string"/>
	<xs:element name="GENDER" type="xs:string"/>
	<xs:element name="FIRST_NAME" type="xs:string"/>
	<xs:element name="FILE_NUM" type="xs:string"/>
	<xs:element name="FILE_HIT" type="xs:string"/>
	<xs:element name="EN_TOT_NO_SEG" type="xs:string"/>
	<xs:element name="EN_SEG_TYPE" type="xs:string"/>
	<xs:element name="EN_SEG_LENGTH" type="xs:string"/>
	<xs:element name="EMP_NAME" type="xs:string"/>
	<xs:element name="DOB" type="xs:string"/>
	<xs:element name="DATE_VR_CODE" type="xs:string"/>
	<xs:element name="DATE_VER_RPT" type="xs:string"/>
	<xs:element name="DATE_SEPRT" type="xs:string"/>
	<xs:element name="DATE_RPTD" type="xs:string"/>
	<xs:element name="DATE_HIRED" type="xs:string"/>
	<xs:element name="CUR_SE_NUM" type="xs:string"/>
	<xs:element name="CTRY_CODE" type="xs:string"/>
	<xs:element name="CR_SUMMARY_RPPRD" type="xs:string"/>
	<xs:element name="CR_SEG_TYPE" type="xs:string"/>
	<xs:element name="CR_SEG_LENGTH" type="xs:string"/>
	<xs:element name="CREDIT_LIMIT" type="xs:string"/>
	<xs:element name="CO_SEG_TYPE" type="xs:string"/>
	<xs:element name="CO_SEG_LENGTH" type="xs:string"/>
	<xs:element name="INFO_TYPE" type="xs:string"/>
	<xs:element name="SUBS_NAME" type="xs:string"/>
	<xs:element name="ACC_NUM" type="xs:string"/>
	<xs:element name="REM_TYPE_CODE" type="xs:string"/>
	<xs:element name="WORDING_OF_REM" type="xs:string"/>
	<xs:element name="SC_SEG_TYPE" type="xs:string"/>
	<xs:element name="SC_SEG_LENGTH" type="xs:string"/>
	<xs:element name="SC_PROD_CODE" type="xs:string"/>
	<xs:element name="SIGN" type="xs:string"/>
	<xs:element name="SC_SCORE" type="xs:string"/>
	<xs:element name="SCR_IND_FLAG" type="xs:string"/>
	<xs:element name="SC_DE_AT_FLAG" type="xs:string"/>
	<xs:element name="FIRST_FAC" type="xs:string"/>
	<xs:element name="SEC_FAC" type="xs:string"/>
	<xs:element name="THIRD_FAC" type="xs:string"/>
	<xs:element name="FOUR_FAC" type="xs:string"/>
	<xs:element name="SCORE_CARD_IND" type="xs:string"/>
	<xs:element name="HD_SEG_TYPE" type="xs:string"/>
	<xs:element name="HD_SEG_LENGTH" type="xs:string"/>
	<xs:element name="HD_MSG_CODE" type="xs:string"/>
	<xs:element name="HD_SRC_IND" type="xs:string"/>
	<xs:element name="HD_LAST_NAME" type="xs:string"/>
	<xs:element name="HD_FIRST_NAME" type="xs:string"/>
	<xs:element name="CITY_LST_RES" type="xs:string"/>
	<xs:element name="STA_LST_RES" type="xs:string"/>
	<xs:element name="ZIP_LST_RES" type="xs:string"/>
	<xs:element name="CITY_LOC_PAY" type="xs:string"/>
	<xs:element name="STA_LOC_PAY" type="xs:string"/>
	<xs:element name="ZIP_LOC_PAY" type="xs:string"/>
	<xs:element name="DOB_DEC" type="xs:string"/>
	<xs:element name="DATE_DEATH" type="xs:string"/>
	<xs:element name="DEC_INFO_FILE" type="xs:string"/>
	<xs:element name="HM_SEG_TYPE" type="xs:string"/>
	<xs:element name="HM_SEG_LENGTH" type="xs:string"/>
	<xs:element name="HM_MSG_CODE" type="xs:string"/>
	<xs:element name="HM_SRC_IND" type="xs:string"/>
	<xs:element name="HM_ADDR_MATCH_FLAG" type="xs:string"/>
	<xs:element name="HM_POB_TEL_IND" type="xs:string"/>
	<xs:element name="HM_POB_TEL_NUM" type="xs:string"/>
	<xs:element name="HM_THRESH_NUM" type="xs:string"/>
	<xs:element name="HI_SEG_TYPE" type="xs:string"/>
	<xs:element name="HI_SEG_LENGTH" type="xs:string"/>
	<xs:element name="HI_MSG_CODE" type="xs:string"/>
	<xs:element name="HI_ADDR_MATCH_FLAG" type="xs:string"/>
	<xs:element name="HI_NO_TIMES_INPUT_USED" type="xs:string"/>
	<xs:element name="HI_THRESH_CHOSEN" type="xs:string"/>
	<xs:element name="HI_TIME_FRM_OCCUR" type="xs:string"/>
	<xs:element name="CS_SEG_TYPE" type="xs:string"/>
	<xs:element name="CS_SEG_LENGTH" type="xs:string"/>
	<xs:element name="CS_CONT_TYPE" type="xs:string"/>
	<xs:element name="INFO" type="xs:string"/>
	<xs:element name="PR_SEG_TYPE" type="xs:string"/>
	<xs:element name="PR_SEG_LENGTH" type="xs:string"/>
	<xs:element name="PR_IND_CODE" type="xs:string"/>
	<xs:element name="PR_MEM_CODE" type="xs:string"/>
	<xs:element name="PR_TYPE" type="xs:string"/>
	<xs:element name="PR_DOC_NUM" type="xs:string"/>
	<xs:element name="PR_ATTORNEY" type="xs:string"/>
	<xs:element name="PR_PLAINTIFF" type="xs:string"/>
	<xs:element name="PR_DT_RPT" type="xs:string"/>
	<xs:element name="PR_DT_PAID" type="xs:string"/>
	<xs:element name="PR_ASSETS" type="xs:string"/>
	<xs:element name="PR_LIAB_AMT" type="xs:string"/>
	<xs:element name="PR_ACCT_DSG" type="xs:string"/>
	<xs:element name="PR_CRT_TYPE" type="xs:string"/>
	<xs:element name="PR_CRT_CITY" type="xs:string"/>
	<xs:element name="PR_CRT_STATE" type="xs:string"/>
	<xs:element name="CL_SEG_TYPE" type="xs:string"/>
	<xs:element name="CL_SEG_LENGTH" type="xs:string"/>
	<xs:element name="CL_IND_CODE" type="xs:string"/>
	<xs:element name="CL_MEM_CODE" type="xs:string"/>
	<xs:element name="CL_AG_NAME" type="xs:string"/>
	<xs:element name="CL_ACT_TYPE" type="xs:string"/>
	<xs:element name="CL_ACT_NUM" type="xs:string"/>
	<xs:element name="CL_ACT_DSG" type="xs:string"/>
	<xs:element name="CL_CR_NAME" type="xs:string"/>
	<xs:element name="CL_DTE_OPEN" type="xs:string"/>
	<xs:element name="CL_DTE_VERF" type="xs:string"/>
	<xs:element name="CL_VERIFY_IND" type="xs:string"/>
	<xs:element name="CL_DTE_CLOSED" type="xs:string"/>
	<xs:element name="CL_DTE_CLOSED_IND" type="xs:string"/>
	<xs:element name="CL_DTE_PAID_OUT" type="xs:string"/>
	<xs:element name="CL_CURR_MAN_PAYMENT" type="xs:string"/>
	<xs:element name="CL_CURR_BALANCE" type="xs:string"/>
	<xs:element name="CL_ORG_BALANCE" type="xs:string"/>
	<xs:element name="CL_REMARKS_CODE" type="xs:string"/>
	<xs:element name="EAD_SEG_TYPE" type="xs:string"/>
	<xs:element name="EAD_PARS_IND" type="xs:string"/>
	<xs:element name="EAD_UP_STREET_ADDR" type="xs:string"/>
	<xs:element name="EAD_HOU_NUM" type="xs:string"/>
	<xs:element name="EAD_PRE_DIR" type="xs:string"/>
	<xs:element name="EAD_STR_NAME" type="xs:string"/>
	<xs:element name="EAD_POST_DIR" type="xs:string"/>
	<xs:element name="EAD_STR_TYPE" type="xs:string"/>
	<xs:element name="EAD_APT_NUM" type="xs:string"/>
	<xs:element name="EAD_CITY_NAME" type="xs:string"/>
	<xs:element name="EAD_CITY" type="xs:string"/>
	<xs:element name="EAD_STATE" type="xs:string"/>
	<xs:element name="EAD_ZIP_CODE" type="xs:string"/>
	<xs:element name="EAD_LEN_OF_RES" type="xs:string"/>
	<xs:element name="EAD_RES_STATUS" type="xs:string"/>
        <xs:element name="ED_SEG_LENGTH" type="xs:string"/>
        <xs:element name="ED_SEG_TYPE" type="xs:string"/>
        <xs:element name="ED_SUB_CODE" type="xs:string"/>
        <xs:element name="ED_ORI_VAL" type="xs:string"/>
        <xs:element name="ED_CD_NUM" type="xs:string"/>
        <xs:element name="NUM_TYPE" type="xs:string"/>
        <xs:element name="NUM_LENGTH" type="xs:string"/>
	
</xs:schema>
