src/services/broker/objects/address/xsd/AddressRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.idfbins.com/AddressDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="addressLine1"/>
        <xs:element type="xs:string" name="addressLine2"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:string" name="state"/>
        <xs:element type="xs:string" name="county"/>
        <xs:element type="xs:string" name="zip"/>
        <xs:element type="xs:string" name="deliveryPoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>